h1{
    color: gold;
    background: #e29522;
    text-align: center;
}
img{
    width: 250px;
}
h2{
    color:gray;
    background:#e29522;
}
p{
    color:gray;
    background: #FFD700FF;
}
ul{
    color:gray;
    background: #FFD700FF;
}